*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root{
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #8A8A8A; 
    --fundo: #17162E;
    --fundo-card: #1D1C3B;
    --fonte: 'Kumbh Sans';
}
  
html{
    font-family: 'Kumbh Sans', sans-serif;
}
main {
    width: 100%;    
}
button, input{
    cursor: pointer;
}

ol, ul {
    list-style: none;
}
